# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Environment files
.env

# Temporary files
*.tmp
*.temp

# Cache
.cache/

# Node modules
node_modules/

# Build folders
dist/
build/
